<div class="carousel">
    <ng-container *ngIf="items.length">
        <div @slide class="carousel__item" *ngFor="let item of items; let i = index" [ngClass]="{'show': i === activeIndex}">
            <ng-container>
                <app-carousel-item
                    [item]="item">
                </app-carousel-item>
            </ng-container>
            <div class="next"></div>
        </div>
    </ng-container>
</div>

<div class="carousel carousel2">
    <ng-container *ngIf="items.length">
        <div class="prev" (click)="reduceActiveIndex()"></div>
        <i class="fas fa-eye"></i> Viewed Items V2
        <app-carousel-item [item]="items[activeIndex]"></app-carousel-item>
        <div class="next" (click)="increaseActiveIndex()"></div>
    </ng-container>
</div>
