<div class="body">
    <app-sidenav
        (priceUpdateEvent)="onPriceFilter($event)"
        [showFilterCategories]="false">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [items]="filteredItems"
            [gridViewItemTemplate]="gridViewItem"
            [lineViewItemTemplate]="lineViewItem">

            <ng-template #gridViewItem let-item let-queryParams="queryParams">
                <app-watches-grid-view
                    *ngIf="item!.type === 'watch'"
                    [watch]="item"
                    [queryURLParams]="queryParams"
                >
                </app-watches-grid-view>
                <app-wristbands-grid-view
                    *ngIf="item!.type === 'wristband'"
                    [wristband]="item"
                    [queryURLParams]="queryParams"
                >
                </app-wristbands-grid-view>
            </ng-template>

            <ng-template #lineViewItem let-item let-queryParams="queryParams">
                <app-watches-list-view
                    [watch]="item"
                    [queryURLParams]="queryParams"
                    *ngIf="item!.type === 'watch'"
                >
                </app-watches-list-view>
                <app-wristbands-list-view
                    [wristband]="item"
                    [queryURLParams]="queryParams"
                    *ngIf="item!.type === 'wristband'"
                >
                </app-wristbands-list-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
<div [ngClass]="{'overlay': overlay}"></div>

