<div class="body">
    <app-sidenav
        (onpriceupdate)="onPriceFilter($event)"
        [showFilterCategories]="false">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [Items]="itemsFiltered"
            [itemTemplate]="itemTemplate"
            [header]="header">

            <ng-template #itemTemplate let-view="view" let-item let-queryParams="queryParams">
                <app-item-view
                    [item]="item"
                    [queryURLParams]="queryParams"
                    [type]="item.type"
                    [view]="view"
                    class="empty">
                </app-item-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
<div [ngClass]="{'overlay': overlayShown}"></div>

