<div class="body">
    <app-sidenav
        (priceUpdateEvent)="onPriceFilter($event)"
        [showFilterCategories]="false">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [items]="filteredItems"
            [itemTemplate]="itemTemplate">

            <ng-template #itemTemplate let-view="view" let-item let-queryParams="queryParams">
                <app-item-view
                    [item]="item"
                    [queryURLParams]="queryParams"
                    [type]="item.type"
                    [view]="view">
                </app-item-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
<div [ngClass]="{'overlay': overlay}"></div>

