<div class="body">
    <app-sidenav
        (oncategoriesupdate)="onCategoriesFilter($event)"
        (onpriceupdate)="onPriceFilter($event)"
        [config]="config">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [Items]="filteredItems"
            [itemTemplate]="itemTemplate"
            [header]="header">
            <ng-template #itemTemplate let-item let-view="view" let-queryParams="queryParams">
                <app-item-view
                    [item]="item"
                    [queryURLParams]="queryParams"
                    [type]="item.type"
                    [view]="view"
                    class="empty">
                </app-item-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
