.container {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    padding: 20px 50px;
    margin: 0 -50px;
}

.list {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 830px) and (min-width: 600px) {
    .container {
        padding: 10px 50px;
        margin: 0 0;
    }
}

@media screen and (max-width: 980px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
}
