<div class="sidenav">
    <div class="sidenav__header">Filters</div>

    <div class="checked_filters" *ngFor="let filter of checkedFiltersMapKeys">
        <span>{{getDisplayCategoryName(filter)}}:</span>
        <div class="checked_category_item" *ngFor="let property of checkedFiltersMap!.get(filter)">
            {{property}}
            <div class="delete" (click)="onFilterChecked(filter, property)"></div>
        </div>
    </div>

    <ul>
        <li>
            <div class="filter-header" (click)="showPriceFilter = !showPriceFilter">Price
                <div class="arrow {{showPriceFilter ? 'arrow_down': 'arrow_left'}}"></div>
            </div>

            <div class="price {{showPriceFilter ? '' : 'hide'}}">
                <input
                    class="price_from"
                    type="number"
                    (change)="setPrice('from', $event.target.value || 0)"
                    placeholder="From"
                    pattern="^[0-9]{5}">
                &emsp;&mdash;&emsp;
                <input
                    class="price_to"
                    type="number"
                    (change)="setPrice('to', $event.target.value || 99999)"
                    placeholder="To"
                    pattern="^[0-9]{5}">
                $
            </div>
            <hr *ngIf="!showPriceFilter">
        </li>
        <li *ngFor="let filter of filtersMapKeys; let i = index">
            <div class="filter-header"
                 (click)="filters[i].showFilter = !filters[i].showFilter">{{filters[i].displayName}}
                <div class="arrow {{filters[i].showFilter ? 'arrow_down': 'arrow_left'}}"></div>
            </div>

            <label
                *ngFor="let property of filtersMap!.get(filter)"
                class=" {{filters[i].showFilter? 'check-container' : 'hide'}}">
                <input
                    type="checkbox"
                    id="{{property}}"
                    value="{{property}}"
                    (change)="onFilterChecked(filter, property)"/>
                <span class="checkmark"></span>
                {{property}}
            </label>
            <hr *ngIf="!filters[i].showFilter">
        </li>
    </ul>
</div>
