label {
    display: block;
}

.sidenav {
    width: 320px;
    padding-top: 30px;

    &__header {
        background-color: #84bfbd;
        color: #ffffff;
        padding: 10px 25px;
        font-size: 24px;
    }

    &__applied {
        color: #333333;
        padding: 18px 25px;
        font-size: 18px;
        font-weight: 700;
    }

    ul {
        padding-left: 25px;
        padding-right: 15px;
        list-style: none;
    }

    .filter-header {
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #0082b3;
        line-height: 25px;

        .arrow_down, .arrow_left {
            width: 10px;
            height: 10px;
            border-color: #0082b3;
            border-style: solid;
            transform: rotate(45deg);
        }

        .arrow_left {
            border-width: 0 0 1px 1px;
        }

        .arrow_down {
            border-width: 0 1px 1px 0;
            margin-top: -10px;
        }
    }
}

.checked_filters {
    padding: 10px 10px 10px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.checked_category_item {
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 8px 5px 2px 5px;
    margin: 3px 0 3px 10px;
    background-color: #ededed;
    display: flex;
}

.delete {
    width: 28px;
    height: 19px;
    position: relative;
}

.delete:before, .delete:after{
    content: '';
    position: absolute;
    border-color: #373737;
    border-style: solid;
    height: 17px;
    top: 1.3em;
    left: 0.6em;
    margin-top: -1em;
    width: 17px;
}
.delete:before {
    transform: rotate(45deg);
    border-width: 1px 0 0 0;
}

.delete:after {
    transform: translate(12px)rotate(-45deg);
    border-width: 1px 0 0 0;
}


.price {
    margin-bottom: 15px;
    margin-top: 3px;
}

.price_from, .price_to {
    width: 100px;
    height: 29px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #979797;

}

.hide {
    display: none;
}

.check-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid #979797;
        border-radius: 5px;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 8px;
        border: solid #0082b3;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
    }
}

