
label {
    display: block;
}

input {
    width: 100px;
}

.sidenav {
    width: 300px;

    h2 {
        background-color: #84bfbd;
        color: #ffffff;
        padding: 10px 20px;
    }

    ul {
        padding: 30px;
        list-style: none;

        li {
            text-transform: capitalize;
        }
    }
}

.price {

}

.filter-header {
    display: flex;
    justify-content: space-between;
}
