label {
    display: block;
}

.sidenav {
    width: 300px;

    h2 {
        background-color: #84bfbd;
        color: #ffffff;
        padding: 10px 20px;
    }

    ul {
        padding: 30px;
        list-style: none;
    }

    .filter-header {
        font-size: 16px;
        padding-bottom: 5px;
    }
}

.checked_filters {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.checked_category_item {
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 5px;
    margin: 3px 0 3px 10px ;
    background-color: #ededed;
    display: flex;
}

.delete {
    color: #e2380b;
    font-size: 18px;
    padding-left: 5px;
}

.price_from, .price_to {
    width: 90px;
    height: 29px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #979797;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0082b3;
    font-size: 14px;
    line-height: 25px;
}

.hide {
    display: none;
}

.check-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border: 1px solid #979797;
        border-radius: 5px;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid #0082b3;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
    }
}

