<div class="cart">
    <div class="cart__header">
        <h1>Cart</h1>
        <div class="cart__header__close" (click)="closeCart()">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="cart__list">
        <div class="cart__list__item" *ngFor="let watch of watchesList">
            <div class="cart__list__item__img">
                <img src="../../../../assets/img/watches/{{watch.image}}" alt="{{watch.image}}">
            </div>
            <div class="cart__list__item__name">{{watch.name}}</div>
            <div class="cart__list__item__price">${{watch.price}}</div>
            <div class="cart__list__item__counter">
                <div class="cart__list__item__counter__reduce" (click)="reduceWatchesCount(watch)">-</div>
                <div class="cart__list__item__counter__number">{{getItemsCount(watch)}}</div>
                <div class="cart__list__item__counter__increase" (click)="increaseWatchesCount(watch)">+</div>
            </div>
            <div class="cart__list__item__acc-price">${{getItemsCount(watch) * watch.price}}</div>
        </div>
    </div>
</div>
<div class="overlay" (click)="closeCart()"></div>
