<div class="grid_item">
    <img
        src="../../../../assets/img/watches/{{watch.image}}"
        alt="{{watch.image}}"
        [routerLink]="['/item/'+watch.id]"
        [queryParams]="queryURLParams">

    <a [routerLink]="['/item/'+watch.id]"
       [queryParams]="queryURLParams">
        {{watch.name}}</a>

    <div class="description">
        {{watch.os}}, {{watch.ramSize}} RAM, {{watch.romSize}} ROM
    </div>

    <div class="footer">
        <app-price-tag [price]="watch.price"></app-price-tag>
        <img
            src="../../../../assets/img/cart.png"
            alt="Add to cart"
            (click)="addItemToCart(watch); tooltip.show()">
        <app-tooltip #tooltip [message]="'Added to cart'"></app-tooltip>
    </div>
</div>
