.body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    border-left: 1px solid #979797;
    padding: 50px 80px;
    width: calc(100% - 320px);
}

.mode-view-header, .mode-view-panel, .list_view, .grid_view {
    display: inline-block;
}

.mode-view-panel, .list_view, .grid_view {
    padding-left: 10px;
}

.mode-view {
    display: flex;
    justify-content: space-between;

    &-header {
        font-size: 24px;
    }

    &-panel {
        display: flex;
        align-items: center;

        label {
            margin-right: 10px;
        }

        .active {
            border: 2px solid #939393;
        }
    }
}

.list_view i, .grid_view i, #sorting {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#sorting {
    height: 29px;
}

.container {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    padding: 20px 50px;
    margin: 0 -50px;
}

.list {
    flex-direction: column;
}

.grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }

    .main-content {
        border: 0;
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 900px) {
    .body {
        width: 100%;
    }

    .mode-view {
        flex-direction: column;

        &-header {
            padding-left: 10px;
        }

        &-panel {
            padding-right: 0;
        }
    }
}
