.body {
    display: flex;
    flex-direction: row;
}

.main-content {
    border-left: 1px solid #979797;
    margin-top: 10px;
    padding-left: 20px;
    width: calc(100% - 300px);
}

.mode-view-header, .mode-view-panel, .list_view, .grid_view {
    display: inline-block;
}

.mode-view-panel, .list_view, .grid_view {
    padding-left: 10px;
}

.mode-view-header {
    padding-left: 100px;
    font-size: 24px;
}

.list_view i, .grid_view i, #sorting {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 5px;
}

.mode-view-panel {
    float: right;
    line-height: 80px;
    vertical-align: middle;
    padding-right: 80px;

    label {
        margin-right: 10px;
    }

    .active {
        border: 2px solid #939393;
    }
}

.container {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    width: calc(100% - 100px);
    padding: 20px 50px;
}

.list {
    flex-direction: column;
}

.grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

