.body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    border-left: 1px solid #979797;
    padding: 50px 80px;
    width: calc(100% - 320px);
}

@media screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }

    .main-content {
        border: 0;
        width: calc(100% - 160px);
    }
}

@media screen and (max-width: 830px) and (min-width: 600px) {
    .main-content {
        padding: 20px 0 20px 20px;
    }
}

@media screen and (max-width: 980px) {
    .body {
        width: 100%;
    }
}
