<app-mode-view-menu
    (sorting)="orderItems($event)"
    (view)="changeViewMode($event)">
</app-mode-view-menu>

<div *ngIf="!pagedItems.length" class="container">
    No items...
</div>

<ng-container *ngIf="pagedItems.length">
    <div class="container" [ngClass]="[viewMode]">
        <ng-container
            *ngFor="let item of pagedItems"
            [ngTemplateOutlet]="itemTemplate || defaultLineViewItemTemplate"
            [ngTemplateOutletContext]="{ $implicit: item, view: viewMode, queryParams: queryParams }">

            <ng-template #defaultLineViewItemTemplate let-item let-view="view" let-queryParams="queryParams">
                <div>item {{ view }}<b>{{ item.name }}</b></div>
            </ng-template>
        </ng-container>
    </div>
</ng-container>

<hr *ngIf="viewMode === 'grid'">

<app-pagination
    *ngIf="itemsCount"
    [currentPage]="currentPage"
    [itemsCount]="itemsCount"
    [countOnPage]="countOnPage"
    (pageUpdateEvent)="selectPage($event)">
</app-pagination>
