<div class="body">
    <app-sidenav
        (onCategoriesUpdate)="receiveCategoriesFilter($event)"
        (onPriceUpdate)="receivePriceFilter($event)">
    </app-sidenav>

    <div class="main-content">

        <div class="mode-view">
            <span class="mode-view-header">
                Smartwatches
            </span>

            <div class="search">
                <input type="text" (change)="itemsSearch()" placeholder="Search" class="br">
                <button class="br"><i class="fas fa-search"></i></button>
            </div>

            <div class="mode-view-panel">
                <label for="sorting">Sorting</label>

                <select
                    name="sorting"
                    id="sorting"
                    [(ngModel)]="orderBy"
                    (change)="orderItems()">
                    <option value="asc">Lowest Price</option>
                    <option value="desk">Highest Price</option>
                </select>

                <div
                    class="list_view"
                    (click)="changeViewMode('list')">
                    <i class="fas fa-list {{(viewMode === 'list') ? 'active' : ''}}"></i>
                </div>

                <div
                    class="grid_view"
                    (click)="changeViewMode('grid')">
                    <i class="fas fa-th {{(viewMode === 'grid') ? 'active' : ''}}"></i>
                </div>
            </div>
        </div>

        <div
            *ngIf="!pagedItems.length"
            class="container">
            No items...
        </div>

        <ng-container *ngIf="pagedItems.length">
            <div class="container grid" *ngIf="viewMode === 'grid'">
                    <app-watches-grid-view
                        *ngFor="let watch of pagedItems"
                        [watch]="watch"
                        [queryURLParams]="queryParams">
                    </app-watches-grid-view>
            </div>

            <div class="container list" *ngIf="viewMode === 'list'">
                <app-watches-list-view
                    *ngFor="let watch of pagedItems"
                    [watch]="watch"
                    [queryURLParams]="queryParams">
                </app-watches-list-view>
            </div>
        </ng-container>

        <hr *ngIf="viewMode === 'grid'">
        <app-pagination
            *ngIf="itemsCount && viewMode === 'grid'"
            [currentPage]="currentPage"
            [itemsCount]="itemsCount"
            [countOnPage]="countOnGrid"
            (onPageUpdate)="outputItems($event)">
        </app-pagination>

        <app-pagination
            *ngIf="itemsCount && viewMode === 'list'"
            [currentPage]="currentPage"
            [itemsCount]="itemsCount"
            [countOnPage]="countOnLine"
            (onPageUpdate)="outputItems($event)">
        </app-pagination>
    </div>
</div>
