<div class="grid_item">
    <img
        src="../../../../assets/img/{{item.image}}"
        alt="{{item.image}}"
        [routerLink]="['/watch/' + item.id]"
        [queryParams]="queryURLParams">

    <a [routerLink]="['/watch/'+item.id]"
       [queryParams]="queryURLParams">
        {{item.name}}</a>

    <div class="description">
        <ng-content></ng-content>
    </div>

    <div class="footer">
        <app-price-tag [price]="item.price"></app-price-tag>
        <img
            src="../../../../../../assets/img/cart.png"
            alt="Add to cart"
            (click)="addItemToCart(item); tooltip.show()">
        <app-tooltip #tooltip [message]="'Added to cart'"></app-tooltip>
    </div>
</div>
