<div class="header">
    <div class="header__logo" [routerLink]="''">
        <img src="../../../assets/img/logo.png" alt="">
    </div>

    <div class="search">
        <div class="search__input">
            <input
                type="text"
                placeholder="Searched text"
                class="search__input__text"
                [ngClass]="{'search__input__text_open': watches.length}"
                (input)="showHint(inputText)"
                [(ngModel)]="inputText"
            >
            <button
                class="search__input__submit"
                [routerLink]="['/searched/']"
                [queryParams]="{searchedText: inputText}"
                (click)="cancelSearching()"
            >
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="search__hints" *ngIf="watches.length">
            <ul>
                <li *ngFor="let watch of watches; let i = index" (click)="cancelSearching()">
                    <div class="search__hints__item" *ngIf="i < 5">
                        <a [routerLink]="['/item/' + watch.id]">{{watch.name}}</a>
                    </div>
                </li>
                <ng-template #extraSearchedItems>
                    <li *ngFor="let watch of watches; let i = index" (click)="cancelSearching()">
                        <div class="search__hints__item" *ngIf="i >= 5 && showExtraItems">
                            <a [routerLink]="['/item/' + watch.id]">{{watch.name}}</a>
                        </div>
                    </li>
                </ng-template>
                <ng-template [ngIf]="!showExtraItems && watches.length > 5" [ngIfElse]="extraSearchedItems">
                    <li>
                        <div class="search__hints__item search__hints__item-extra"  (click)="showExtraItems = true">
                            Show more ({{watches.length - 5}})
                        </div>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>

    <div class="header__cart" (click)="showCart()">
        <img src="../../../assets/img/cart.png" alt="Cart" class="{{counter ? '' : 'disabled'}}">
        <div class="header__cart__counter {{counter.toString(10).length > 1 ? 'header__cart__counter_resize' : ''}}" *ngIf="counter">
            {{counter}}
        </div>
    </div>
</div>

<div [ngClass]="{'overlay': overlay}" (click)="cancelSearching()"></div>
