<div class="header">
    <div class="header__logo" [routerLink]="''">
        <img src="../../../assets/img/logo.png" alt="">
    </div>

    <div class="search">
        <div class="search__input">
            <input
                type="text"
                placeholder="Search"
                class="search__input__text"
                (click)="overlay = true"
                (input)="showHint(inputText)"
                [(ngModel)]="inputText">
            <a
                class="search__input__submit"
                [routerLink]="['/searched/']"
                [queryParams]="{searchedText: inputText}"
                (click)="cancelSearching()">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div class="search__hints" *ngIf="watches.length">
            <ul>
                <li *ngFor="let watch of watches" [routerLink]="['/item/' + watch.id]" (click)="cancelSearching()">
                    {{watch.name}}
                </li>
            </ul>
        </div>
    </div>

    <div class="header__cart" (click)="showCart()">
        <img src="../../../assets/img/cart.png" alt="Cart" class="{{counter ? '' : 'disabled'}}">

        <div class="header__cart__counter {{counter.toString(10).length > 1 ? 'header__cart__counter_resize' : ''}}" *ngIf="counter">
            {{counter}}
        </div>
    </div>
</div>

<div [ngClass]="{'overlay': overlay}" (click)="cancelSearching()"></div>
