.header {
    padding: 15px 72px;
    border: 1px solid #979797;
    background-color: #ededed;

    &__logo {

        display: inline-block;
        cursor: pointer;

        img {
            width: 162px;
        }
    }

    &__cart {

        float: right;
        position: relative;
        line-height: 90px;
        vertical-align: middle;
        cursor: pointer;

        img {
            width: 48px;
        }

        &__counter {
            position: absolute;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background-color: #e2380b;
            border: 1px solid #ffffff;
            top: -5px;
            right: -5px;
            color: #ffffff;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }
    }
}

.disabled {
    opacity: 0.7;
    cursor: auto;
}
