<div class="body">
    <app-sidenav
        (categoriesUpdateEvent)="onCategoriesFilter($event)"
        (priceUpdateEvent)="onPriceFilter($event)">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [items]="filteredItems"
            [gridViewItemTemplate]="gridViewItem"
            [lineViewItemTemplate]="lineViewItem"
        >
            <ng-template #gridViewItem let-watch let-queryParams="queryParams">
                <app-watches-grid-view
                    [watch]="watch"
                    [queryURLParams]="queryParams">
                </app-watches-grid-view>
            </ng-template>

            <ng-template #lineViewItem let-watch let-queryParams="queryParams">
                <app-watches-list-view
                    [watch]="watch"
                    [queryURLParams]="queryParams">
                </app-watches-list-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
