.watch {
    display: flex;
    flex-direction: row;
    padding: 80px;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;

    &__data {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding: 0 50px;
        border-right: 1px solid #979797;
        justify-content: flex-start;
        color: #333333;
        font-size: 12px;


        a {
            color: #0082b3;
            padding: 5px 0 100px 0;
            text-decoration: underline;
        }

        &__name {
            font-size: 36px;
        }

        &__specifications {
            padding: 30px 0;
            color: #0082b3;
        }
    }

    &__img {
        > img {
            width: 300px;
        }
        padding-right: 50px;
    }

    &__price {
        width: 100px;
        padding: 50px;
        display: flex;
        align-items: center;
    }

    &__cart {
        text-align: center;
        cursor: pointer;
        position: relative;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        width: 100px;

        #cart {
            width: 100px;
            display: block;
            opacity: 0.65;
        }
    }

}

@media screen and (max-width: 1024px) {
    .watch__img {
        > img {
            width: 200px;
        }
    }

    .watch {
        padding: 20px;

        &__data {

            a {
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .watch {
        padding: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        &__img {
            > img {
                width: 120px;
            }
        }

        &__price {
            padding-left: 0;
        }

        &__data {
            width: calc(100% - 300px);
            border-right: 0;
        }
    }
}
