<div class="watch">
    <div class="watch__img">
        <img
            src="../../../../assets/img/watches/{{watch!.image}}"
            alt="{{watch!.image}}">
    </div>
    <div class="watch__data">
        <span class="watch__data__name">{{watch!.name}}</span>

        <div class="watch__data__specifications">
            {{watch!.os}}, Screen size: {{watch!.screenSize}}, Screen type: {{watch!.screenType}}, {{watch!.ramSize}}
            RAM, {{watch!.romSize}} ROM
        </div>

        <div class="watch__data__description">
            {{watch!.description}}
        </div>
    </div>

    <div class="watch__price">
        <app-price-tag [price]="watch!.price" [scale]="2"></app-price-tag>
    </div>

    <div class="watch__cart">
        <img
            src="../../../../assets/img/cart.png"
            alt="Add to cart" id="cart"
            (click)="addWatchToCart(watch)">
        <app-tooltip [isClicked]="isAdded" [message]="'Added to cart'"></app-tooltip>

        <label for="cart">
            Add to cart
        </label>
    </div>
</div>
