.watch {
    display: flex;
    flex-direction: row;
    padding: 50px 60px;
    align-items: center;

    &__data {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding-left: 30px;
        border-right: 1px solid #979797;
        width: 60%;

        .specifications {
            padding: 30px 0;
            color: #0082b3;
        }
    }

    &__img {
        >img {
            width: 300px;
        }
    }

    &__price {
        width: 100px;
        padding: 20px;

    }

    &__cart {
        text-align: center;
        font-size: 20px;

        #cart {
            width: 100px;
            display: block;
        }
    }

}

