<div class="mode-view">
    <span class="mode-view-header">
        {{header | titlecase}}
    </span>

    <div class="mode-view-panel">
        <label for="sorting">Sorting</label>

        <select
            name="sorting"
            id="sorting"
            (change)="orderItems($event.target.value)">
            <option value={{asc}}>Lowest Price</option>
            <option value={{desk}}>Highest Price</option>
        </select>

        <div
            class="list_view"
            (click)="changeViewMode(list)">
            <i class="fas fa-list" [ngClass]="{'active': (viewMode === list) }"></i>
        </div>

        <div
            class="grid_view"
            (click)="changeViewMode(grid)">
            <i class="fas fa-th" [ngClass]="{'active': (viewMode === grid) }"></i>
        </div>
    </div>
</div>
