<div class="container">
    <div class="wristband-img-col">
        <img
            src="../../../../assets/img/wristbands/{{wristband!.image}}"
            alt="{{wristband!.image}}"
            [routerLink]="['/wristband/'+wristband.id]"
            [queryParams]="queryURLParams">
    </div>

    <div class="container__details">
        <div class="details-col">
            <a [routerLink]="['/wristband/'+wristband!.id]"
               [queryParams]="queryURLParams">
                {{wristband!.name}}
            </a>
            <div class="specifications">
                {{wristband!.fitFor}}, {{wristband!.material}}
            </div>

            <div class="description">
                {{wristband!.description}}
            </div>
        </div>

        <div class="price-col">
            <app-price-tag [price]="wristband!.price"></app-price-tag>
            <div class="cart">
                <div  id="cart"><img
                    src="../../../../../../assets/img/cart.png"
                    alt="Add to cart"
                    (click)="addItemToCart(wristband); tooltip.show()"></div>
                <label for="cart" (click)="addItemToCart(wristband); tooltip.show()">
                    Add to cart
                </label>
                <app-tooltip #tooltip [message]="'Added to cart'"></app-tooltip>
            </div>
        </div>
    </div>
</div>

