<div class="body">
    <app-sidenav
        (categoriesUpdateEvent)="onCategoriesFilter($event)"
        (priceUpdateEvent)="onPriceFilter($event)"
        [config]="config"
    >
    </app-sidenav>

    <div class="main-content">
        <app-items-list [items]="filteredItems"
                        [itemTemplate]="itemTemplate">
            <ng-template #itemTemplate let-watch let-view="view" let-queryParams="queryParams">
                <app-item-view
                    [item]="watch"
                    [queryURLParams]="queryParams"
                    [type]="watch.type"
                    [view]="view">
                </app-item-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
