<div class="carousel">
    <div class="prev" #btnPrev [ngClass]="{'hidden': activeIndex === 0}"></div>
    <div [@slide]="activeIndex" class="container">
        <ng-container *ngFor="let item of items; let i = index" >
            <div *ngIf="i >= activeIndex && i <= activeIndex + carouselItemsCount - 1" class="container__item" [ngClass]="{'noResize': !resize}">
                <app-carousel-item [item]="item" class="carousel__item"></app-carousel-item>
            </div>
        </ng-container>
    </div>
    <div class="next" #btnNext [ngClass]="{ 'hidden': activeIndex === items.length - carouselItemsCount}"></div>
</div>
