<div class="carousel">
    <div class="prev" (click)="reduceActiveIndex()" *ngIf="activeIndex !== 0"></div>
    <div [@slide]="activeIndex">
        <div *ngFor="let item of items; let i = index" >
            <app-carousel-item
                [item]="item"
                class="carousel__item"
                *ngIf="activeIndex === i">
            </app-carousel-item>
        </div>
    </div>
    <div class="next" (click)="increaseActiveIndex()" *ngIf="activeIndex !== items.length - 1"></div>
</div>
