.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
    position: relative;
    height: 220px;
    overflow: hidden;

    &__item {
        overflow: hidden;
        height: 100%;
        position: relative;
    }
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.list {
    position: relative;
}

.hidden {
    visibility: hidden;
}

.prev,
.next {
    position: absolute;
    top: calc(50% - 10px);
    border: 20px solid transparent;
    opacity: 0.6;
    z-index: 1;
}

.prev {
    border-right: 20px solid #666;
    left: 20px;
}

.next {
    border-left: 20px solid #666;
    right: 20px;
}

.prev:hover,
.next:hover {
    opacity: 1;
}
