.carousel {
    width: 100%;
    margin: 30px 0;
    position: relative;
    height: 220px;
    overflow: hidden;
    white-space: nowrap;
}

.container__item {
    white-space: normal;
    position: relative;
    display: inline-block;
    width: 25%;

    @media screen and (max-width: 1300px) {
        width: calc(100%/3);
    }

    .carousel__item {
        float: right;
        position: absolute;
        width: 100%;
    }
}

.hidden {
    visibility: hidden;
}

.prev,
.next {
    position: absolute;
    top: calc(50% - 10px);
    border: 20px solid transparent;
    opacity: 0.6;
    z-index: 1;
}

.prev {
    border-right: 20px solid #666;
    left: 20px;
}

.next {
    border-left: 20px solid #666;
    right: 20px;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.noResize {
    width: 100%;
}
