<div class="carousel">
    <button class="carousel__prev" #btnPrev  [ngClass]="{'hidden': activeIndex === 0}"></button>
    <div class="prev" [ngClass]="{'hidden': activeIndex === 0}"></div>
    <div [@slide]="activeIndex" class="container">
        <ng-container *ngFor="let item of items; let i = index" >
            <div *ngIf="i >= activeIndex && i <= activeIndex + itemsVisibleCount - 1" class="container__item" [ngClass]="{'noResize': !resize}">
                <app-carousel-item  [item]="item" class="carousel__item"></app-carousel-item>
            </div>
        </ng-container>
    </div>
    <button class="carousel__next" #btnNext [ngClass]="{ 'hidden': hideNextBtn()}"></button>
    <div class="next" [ngClass]="{'hidden': hideNextBtn()}"></div>
</div>
