.carousel {
    width: 100%;
    padding: 30px 0;
    position: relative;
    height: 220px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.container__item {
    white-space: normal;
    position: relative;
    display: inline-block;
    width: 25%;

    @media screen and (max-width: 1300px) {
        width: calc(100%/3);
    }

    .carousel__item {
        float: right;
        position: absolute;
        width: 100%;
    }
}

.hidden {
    visibility: hidden;
}

.prev,
.next {
    position: absolute;
    top: calc(50% - 10px);
    border: 20px solid transparent;
    opacity: 0.6;
    z-index: 1;
}

.next {
    border-left: 20px solid #666;
    right: 20px;
}

.prev {
    border-right: 20px solid #666;
    left: 20px;
}

.carousel__next,
.carousel__prev {
    height: 100%;
    width: 80px;
    background-color: #939393;
    position: absolute;
    right: 0;
    opacity: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

.carousel__next {
    right: 0;
}

.carousel__prev {
    left: 0;
}

.carousel__prev:hover,
.carousel__next:hover {
    opacity: 0.3;
}

button {
    border: none;

    &:focus {
        outline: 0px solid transparent;
    }
}
.noResize {
    width: 100%;
}
