@keyframes disappearing {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100px;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.disappearing {
    opacity: 0;
    visibility: hidden;
}
