.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 30px 10px;

    .watch-img-col {
        width: 12%;
        >img {
            width: 70%;
        }
    }

    .details-col {
        width: 76%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        >a {
            color: #0082b3;
            font-size: 18px;
        }

        .specifications, .description {
            color: #666666;
            font-size: 12px;
        }
    }

    .price-col {
        width: 12%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        .cart {
            display: flex;
            align-items: center;
            >img {
                width: 30px;

                &:hover {
                    width: 32px;
                }
            }
        }
    }
}
