<div class="container">
    <div class="watch-img-col">
        <img
            src="../../../../assets/img/watches/{{watch!.image}}"
            alt="{{watch!.image}}"
            [routerLink]="['/watch/'+watch.id]"
            [queryParams]="queryURLParams">
    </div>

    <div class="container__details">
        <div class="details-col">
            <a [routerLink]="['/watch/'+watch!.id]"
               [queryParams]="queryURLParams">
                {{watch!.name}}
            </a>
            <div class="specifications">
                {{watch!.os}}, {{watch!.ramSize}} RAM, {{watch!.romSize}} ROM
            </div>

            <div class="description">
                {{watch!.description}}
            </div>
        </div>

        <div class="price-col">
            <app-price-tag [price]="watch!.price"></app-price-tag>
            <div class="cart">
                <img
                    src="../../../../assets/img/cart.png"
                    alt="Add to cart" id="cart"
                    (click)="addWatchToCart(watch)">
                <label for="cart" (click)="addWatchToCart(watch)">
                    Add to cart
                </label>
            </div>
        </div>
    </div>
</div>

