.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.page {
    text-align: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.active {
    background: #84bfbd;
    border-radius: 3px;
    color: #ffffff;
}
