.price-tag {
    display: flex;
    font-size: 18px;
    color: #ffffff;
    padding: 6px 5px 6px 16px;
    position: relative;
    background-color: #84bfbd;
    grid-area: price;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;

    &__hole {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ffffff;
        margin-left: 10px;
    }


    &:after {
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ffffff;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        right: -10px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ffffff;
    }
}

.price-tag_big {
    font-size: 24px;
    padding: 12px 10px 12px 28px;

    &__hole {
        width: 13px;
        height: 13px;
        margin-left: 30px;
    }

    &:after {
        top: -20px;
        right: -20px;
        width: 35px;
        height: 35px;
    }

    &:before {
        bottom: -20px;
        right: -20px;
        width: 35px;
        height: 35px;
    }
}
