.item {
    display: block;
    height: 200px;
    position: relative;
    opacity: 0.8;
    text-align: center;
    width: 100%;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: 0 solid transparent;
    }

    &__title {
        position: absolute;
        width: 100px;
        padding: 10px;
        background-color: #aaa;
        opacity: 0.6;
    }

    img {
        height: 100%;
    }
}
