.checkout {
    margin: 30px auto;
    width: 60%;

    &__cart {
        padding: 30px 20px;
        background-color: #84bfbd;
        position: absolute;
        right: 0;

        &__item {
            padding: 10px 0;
            border-bottom: 1px solid #666;

            img {
                height: 50px;
            }

            .item_name {
                display: inline-block;
                padding-left: 10px;
            }
        }

        &__sum {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }

        &__return {
            background-color: #ededed;
            width: 100%;
        }
    }

    >ol {
       list-style: none;
        counter-reset: custom-counter;

        >li {
            counter-increment: custom-counter;
            padding: 10px;
            font-size: 18px;
            position: relative;

            .edit {
                font-size: 14px;
                padding: 10px 30px;
            }

            &::before {
                content: counter(custom-counter);
                font-size: 18px;
                font-weight: bold;
                position: absolute;
                --size: 32px;
                left: calc(-1 * var(--size) - 10px);
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
                top: 0;
                border-radius: 50%;
                text-align: center;
                box-shadow: 1px 1px 1px #999;
            }
        }

        .completed::before {
            background: #84bfbd;
        }
    }

    label {
        padding-right: 10px;
    }

    input[type='text'] {
        border-radius: 5px;
        border: 1px solid #666;
        line-height: 1.5em;
    }

    .form-group {
        padding: 10px;
        font-size: 14px;
    }
}

button {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 5px 10px;
    background-color: #84bfbd;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.contact, .delivery {
    overflow: hidden;
}

.popup {
    display: inline-block;
    position: relative;

    &__list {
        border: 1px solid #666;
        padding: 10px;
        position: absolute;
        width: 140px;
        background-color: #ededed;
        z-index: 2;
        max-height: 300px;
        overflow: auto;
    }

    &__input {
        padding-left: 10px;
        width: 150px
    }
}

.show-list {
    overflow: visible;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hide {
    z-index: 0;
}
