<div class="checkout">
    <div class="checkout__cart">
        <div class="checkout__cart__item" *ngFor="let item of itemsList">
            <img src="/assets/img/{{item.image}}" alt="{{item.image}}">
            <div class="item_name">{{item.name}}</div>
        </div>
        <div class="checkout__cart__sum">${{getFinalSum()}}</div>
        <button class="checkout__cart__return" (click)="showCart()">Return to cart</button>
    </div>

    <div class="checkout__content"></div>
    <ol>
        <li [ngClass]="{'completed': contactsFilled}">
            Contact information <i class="far fa-edit" *ngIf="contactsFilled" (click)="onContactsSubmit()"></i>
            <div class="contact"
                  *ngIf="!contactsFilled"
                  @compression
                  [ngClass]="{'show-list': searchedRegions.length || searchedCities.length}">
                <div class="form-group">
                    <label >Enter your region</label>
                    <div  class="popup">
                        <input
                            class="form-control popup__input"
                            type="text"
                            [(ngModel)]="contacts.region"
                            (input)="searchRegions($event.target.value)"
                            (change)="checkRegion($event.target.value)"
                            (focus)="searchRegions($event.target.value)"
                            [value]="contacts.region"
                            autocomplete="off"
                            #region="ngModel"
                            required>
                        <div class="popup__list" *ngIf="searchedRegions.length">
                            <ul>
                                <li *ngFor="let region of searchedRegions; let i = index" (click)="selectRegion(region)">
                                    {{region}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="!region.pristine && region.invalid" class="error">Region should be selected from the list</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">Enter your city</label>
                    <div  class="popup">
                        <input
                            class="form-control popup__input"
                            type="text"
                            id="city"
                            [(ngModel)]="contacts.city"
                            (input)="searchCities($event.target.value)"
                            (change)="checkCity($event.target.value)"
                            (focus)="searchCities($event.target.value)"
                            [value]="contacts.city"
                            [disabled]="!contacts.region"
                            autocomplete="off"
                            #city="ngModel"
                            required>
                        <div class="popup__list" *ngIf="searchedCities.length">
                            <ul>
                                <li *ngFor="let city of searchedCities; let i = index" (click)="selectCity(city)">
                                    {{city}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="!city.pristine && city.invalid" class="error">City is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Enter your name and surname</label>
                    <input class="form-control" type="text" id="name" [(ngModel)]="contacts.name">
                </div>
                <div class="form-group">
                    <label for="email">Enter your email</label>
                    <input class="form-control" type="text" id="email" [(ngModel)]="contacts.email" email #email="ngModel" required>
                    <div *ngIf="!email.pristine && email.invalid" class="error">Email is required</div>
                </div>
                <button type="submit" [disabled]="region.errors || city.errors || email.errors" (click)="onContactsSubmit()">Continue</button>
            </div>
        </li>

        <li [ngClass]="{'completed': deliveryFilled}">
            Delivery and payment <i class="far fa-edit" *ngIf="deliveryFilled" (click)="onDeliverySubmit()"></i>
            <form class="delivery" *ngIf="!deliveryFilled && contactsFilled" @compression [formGroup]="deliveryForm" (submit)="onDeliverySubmit()">
                <div class="form-group">
                    Select a delivery method
                    <div><input type="radio" formControlName="delivery" id="from-shop" value="fromShop"><label for="from-shop">From our shop</label></div>
                    <div><input type="radio" formControlName="delivery" id="from-post" value="fromPost"><label for="from-shop">From post</label></div>
                    <div><input type="radio" formControlName="delivery" id="to-door" value="toDoor"><label for="to-door">Delivery to the door</label></div>
                </div>
                <div class="form-group">
                    Select a payment method
                    <div><input type="radio" formControlName="payment" id="cash" value="cash"><label for="cash">Cash</label></div>
                    <div><input type="radio" formControlName="payment" id="mastercard" value="mastercard"><label for="mastercard">MasterCard</label></div>
                    <div><input type="radio" formControlName="payment" id="visa" value="visa"><label for="visa">Visa</label></div>
                </div>
                <div class="form-group">
                    <input type="checkbox" formControlName="sureChecked" id="recall" value="sureChecked" [checked]="sureChecked">
                    <label for="recall">I'm sure in my order, you can't to recall me</label>
                </div>
                <button type="submit">Confirm your order</button>
            </form>
        </li>
    </ol>
</div>

<div [ngClass]="{'overlay': overlayShown}" (click)="closeSelection()"></div>
