<div class="checkout">
    <div class="checkout__cart">
        <div class="checkout__cart__item" *ngFor="let item of itemsList">
            <img src="../../../../assets/img/{{item.image}}" alt="{{item.image}}">
            <div class="item_name">{{item.name}}</div>
        </div>
        <div class="checkout__cart__sum">${{getFinalSum()}}</div>
        <button class="checkout__cart__return" (click)="showCart()">Return to cart</button>
    </div>

    <div class="checkout__content"></div>
    <ol>
        <li [ngClass]="{'completed': contactsFilled}">
            Contact information <i class="far fa-edit" *ngIf="contactsFilled" (click)="onContactsSubmit()"></i>
            <div class="contact" *ngIf="!contactsFilled" @compression>
                <div class="form-group">
                    <label for="region">Enter your region</label>
                    <input class="form-control" type="text" id="region" required [(ngModel)]="contacts.region">
                </div>
                <div class="form-group">
                    <label for="city">Enter your city</label>
                    <input class="form-control" type="text" id="city" required [(ngModel)]="contacts.city">
                </div>
                <div class="form-group">
                    <label for="name">Enter your name and surname</label>
                    <input class="form-control" type="text" id="name" required [(ngModel)]="contacts.name">
                </div>
                <div class="form-group">
                    <label for="email">Enter your email</label>
                    <input class="form-control" type="text" id="email" required [(ngModel)]="contacts.email" email>
                </div>
                <button type="submit" (click)="onContactsSubmit()" >Continue</button>
            </div>
        </li>

        <li [ngClass]="{'completed': deliveryFilled}">
            Delivery and payment <i class="far fa-edit" *ngIf="deliveryFilled" (click)="onDeliverySubmit()"></i>
            <div class="delivery" *ngIf="!deliveryFilled && contactsFilled" @compression [formGroup]="deliveryForm">
                <div class="form-group">
                    Select a delivery method
                    <div><input type="radio" formControlName="delivery" id="from-shop" value="fromShop" checked><label for="from-shop">From our shop</label></div>
                    <div><input type="radio" formControlName="delivery" id="from-post" value="fromPost"><label for="from-shop">From post</label></div>
                    <div><input type="radio" formControlName="delivery" id="to-door" value="toDoor"><label for="to-door">Delivery to the door</label></div>
                </div>
                <div class="form-group">
                    Select a payment method
                    <div><input type="radio" formControlName="payment" id="cash" value="cash" checked><label for="cash">Cash</label></div>
                    <div><input type="radio" formControlName="payment" id="mastercard" value="mastercard"><label for="mastercard">MasterCard</label></div>
                    <div><input type="radio" formControlName="payment" id="visa" value="visa"><label for="visa">Visa</label></div>
                </div>
                <div class="form-group">
                    <input type="checkbox" formControlName="isSure" id="recall" value="isSure" [checked]="isSure">
                    <label for="recall">I'm sure in my order, you can't to recall me</label>
                </div>
                <button type="submit" (click)="onDeliverySubmit()" [routerLink]="['../thanks-page']">Confirm your order</button>
            </div>
        </li>
    </ol>
</div>
