<div class="sidenav">
    <div class="sidenav__header">Filters</div>

    <div class="sidenav__applied" *ngIf="checkedFiltersCategories && checkedFiltersCategories.length">
        Applied filters
    </div>
    <div class="checked_filters" *ngFor="let filter of checkedFiltersCategories">
        <span>{{getDisplayCategoryName(filter)}}:</span>
        <div class="checked_category_item" *ngFor="let property of checkedFilters!.get(filter)">
            {{property}}
            <div class="delete" (click)="onFilterChecked(filter, property)"></div>
        </div>
    </div>
    <hr *ngIf="checkedFiltersCategories && checkedFiltersCategories.length">

    <ul>
        <li [ngClass]="{'close': !showPriceFilter}">
            <div class="filter-header" (click)="showPriceFilter = !showPriceFilter">Price
                <div class="arrow"></div>
            </div>

            <div class="price">
                <input
                    class="price_from"
                    type="number"
                    [value]="price['from']"
                    (change)="setPrice('from', $event.target.value || 0)"
                    placeholder="From"
                    pattern="^[0-9]{5}">
                &emsp;&mdash;&emsp;
                <input
                    class="price_to"
                    type="number"
                    [value]="price['to']"
                    (change)="setPrice('to', $event.target.value || 99999)"
                    placeholder="To"
                    pattern="^[0-9]{5}">
                $
            </div>
            <hr *ngIf="!showPriceFilter">
        </li>

        <ng-container *ngIf="showFilterCategories">
            <li *ngFor="let filter of filtersCategories; let i = index" [ngClass]="{'close': !filtersConfig[i].showFilter}">
                <div class="filter-header"
                     (click)="filtersConfig[i].showFilter = !filtersConfig[i].showFilter">{{filtersConfig[i].displayName}}
                    <div class="arrow"></div>
                </div>

                <label
                    *ngFor="let property of filters!.get(filter)"
                    class="check-container">
                    <input
                        type="checkbox"
                        [id]="property"
                        [value]="property"
                        [checked]="getFilterStatus(filter, property)"
                        (change)="onFilterChecked(filter, property)"/>
                    <span class="checkmark"></span>
                    {{property}}
                </label>
                <hr *ngIf="!filtersConfig[i].showFilter">
            </li>
        </ng-container>
    </ul>
</div>
