.grid_item {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: flex-start;
    flex-grow: 1;

    >a, .description, .footer {
        padding-top: 15px;
    }

    > a {
        color: #0082b3;
        font-size: 14px;
    }

    > img {
        height: 150px;
    }

    .description {
        color: #666666;
        font-size: 12px;
        line-height: 2em;
    }

    .footer {
        display: flex;
        align-items: center;

        > img {
            width: 28px;
            margin-left: 20px;
            cursor: pointer;

            &:hover {
                width: 30px;
            }
        }
    }
}

