<div class="body">
    <app-sidenav
        (priceUpdateEvent)="onPriceFilter($event)"
        [showFilterCategories]="false">
    </app-sidenav>

    <div class="main-content">
        <app-items-list
            [items]="filteredItems"
            [gridViewItemTemplate]="gridViewItem"
            [lineViewItemTemplate]="lineViewItem">

            <ng-template #gridViewItem let-watch let-queryParams="queryParams">
                <app-wristbands-grid-view
                    [wristband]="watch"
                    [queryURLParams]="queryParams">
                </app-wristbands-grid-view>
            </ng-template>

            <ng-template #lineViewItem let-wristband let-queryParams="queryParams">
                <app-wristbands-list-view
                    [wristband]="wristband"
                    [queryURLParams]="queryParams">
                </app-wristbands-list-view>
            </ng-template>
        </app-items-list>
    </div>
</div>
<div [ngClass]="{'overlay': overlay}"></div>

